<div class="navigation">
    <a href="/#" class="nav-item logo">
        OpalBot
    </a>
    <a href="https://discordapp.com/oauth2/authorize?client_id=348233224293449729&scope=bot&permissions=60416" target="_blank" class="nav-item add">
        Add me!
    </a>
    <a href="https://discord.gg/mrkve6j" target="_blank" class="nav-item support">
        Support
    </a>
</div>