<div class="navigation">
    <a
        href="/#"
        class="nav-item logo"
    >
        OpalBot
    </a>
    <a
        href="https://discordapp.com/oauth2/authorize?client_id=<%= CLIENT_ID %>&scope=bot&permissions=8206"
        title="Add me to your server!"
        target="_blank"
        rel="noopener"
        class="nav-item add"
    >
        Add me!
    </a>
    <a
        href="https://discord.gg/<%= SUPPORT_INVITE %>"
        title="Get help in our discord server!"
        target="_blank"
        rel="noopener"
        class="nav-item support"
    >
        Support
    </a>
    <a
        title="See the list of commands!"
        href="/commands"
        class="nav-item commands"
    >
        Commands
    </a>
    <a
        title="Learn more about our bot!"
        href="/about"
        class="nav-item about"
    >
        About
    </a>
</div>