<div class="navigation">
    <a href="/#" class="nav-item logo">
        OpalBot
    </a>
    <a href="https://discordapp.com/oauth2/authorize?client_id=<%= CLIENT_ID %>&scope=bot&permissions=8206" target="_blank" class="nav-item add">
        Add me!
    </a>
    <a href="https://discord.gg/<%= SUPPORT_INVITE %>" target="_blank" class="nav-item support">
        Support
    </a>
    <a href="/commands" class="nav-item commands">
        Commands
    </a>
    <a href="/about" class="nav-item about">
        About
    </a>
</div>