<!DOCTYPE html>
<html lang="<%= lang %>">
    <head>
        <title>OpalBot! <%= $`dashboard` %></title>
        <% include ../partials/header.ejs %>
    </head>
    <body>
        <% include ../partials/navigation.ejs %>
        <div class="content">syke I'm working on this too</div>
        <% include ../partials/footer.ejs %>
        <script type="text/javascript" src="/js/main.js" async></script>
    </body>
</html>