<!DOCTYPE html>
<html>
    <head>
        <title>OpalBot! <%= locals.notfound ? data[lang].not_found : [lang].home %></title>
        <% include ../partials/header.ejs %>
    </head>
    <body>
        <% include ../partials/navigation.ejs %>
        <% if (locals.notfound) { %>
            <div class="not-found"><%= data[lang].not_found_banner %></div>
        <% } %>
        <div class="content">TODO lol meanwhile see <a href="/commands">/commands</a></div>
        <script type="text/javascript" src="/js/init.js"></script>
    </body>
</html>