<!DOCTYPE html>
<html lang="<%= lang %>">
    <head>
        <title>OpalBot! <%= locals.title ? $(title) : $`home` %></title>
        <% include ../partials/header.ejs %>
        <% if (locals.GSV) { %>
            <meta name="google-site-verification" content="<%= GSV %>" />
        <% } %>
    </head>
    <body>
        <% include ../partials/navigation.ejs %>
        <% if (locals.banner) { %>
            <div class="not-found"><%= $(banner) %></div>
        <% } %>
        <div class="content" role="main">TODO lol meanwhile see <a href="/commands">/commands</a></div>
        <% include ../partials/footer.ejs %>
        <script type="text/javascript" src="/js/main.js" async></script>
    </body>
</html>