<!DOCTYPE html>
<html>
    <head>
        <title>OpalBot! <%= data[lang].home %></title>
        <% include ../partials/header.ejs %>
    </head>
    <body>
        <div class="navigation"></div>
        <% if (typeof notfound != 'undefined') { %>
            <div class="not-found"></div>
        <% } %>
        <div class="content">TODO lol meanwhile see <a href="/commands">/commands</a></div>
        <script type="text/javascript" src="js/init.js"></script>
    </body>
</html>