body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: #f6f6f6;
}

.command {
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    position: relative;
    margin-bottom: 1em;
}

.command .header:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    height: 2px;
    background-color: #6bbbff;
    transition: all .25s ease-out;
    width: 0;
}


.command.expanded .header:before {
    width: 100%;
    left: 0;
}

.command .header:hover:before {
    width: 10%;
    left: 45%;
}

.command.expanded .header:hover:before {
    width: 90%;
    left: 5%;
}

.header {
    padding: .5em;
    cursor: pointer;
}

.name {
    overflow: hidden;
    height: 18px;
}

.name:before {
    content: "opal!";
    color: #ccc;
    font-weight: bold;
}

.desc {
    float: right;
    color: #777;
    font-size: 12px;
    margin-top: 2px;
}

.def {
    overflow: hidden;
    transition: height .25s ease-out;
    height: 0;
}

.def > div:first-child {
    margin-top: 10px;
}

.description {
    white-space: pre-line;
}

.aliases, .usage {
    font-size: 14px;
}

.aliases, .usage, .description {
    margin: 0 .5em;
}

.description {
    margin-bottom: .5em;
}

.optional {
    color: green;
    font-style: italic;
}

/* navigation */
.navigation {
    background-color: #794aa2;
    height: 3em;
}

.content {
    background-color: white;
    padding: 2em;
}

/* Media queries */
@media (max-width: 480px) {
    .content {
        padding: 1em;
    }
}

@media (min-width: 481px) and (max-width: 640px) {
    .content {
        margin: 0 1em;
    }
}

@media (min-width: 641px) {
    .content {
        margin: 0 2em;
    }
}

@media (min-width: 801px) {
    .content {
        padding: 2em 3em;
    }
}

@media (min-width: 641px) {
    .content {
        margin: 0 2em;
    }
}

@media (hover: none) {
    .command .header:hover:before {
        width: 0%;
        left: 50%;
    }

    .command.expanded .header:hover:before {
        width: 100%;
        left: 0;
    }
    .command .header:active:before {
        width: 10%;
        left: 45%;
    }

    .command.expanded .header:active:before {
        width: 90%;
        left: 5%;
    }
}